

  <!-- Bloc Map -->

  <div class="listings_map">
    <%= image_tag 'map.png' %>
  </div>

<div class="row">
  <!-- Bloc Listings Flat -->
  <div class="listings_flats col-md-offset-4 col-md-8">

    <h1>Tous les appartements à louer</h1>

    <% @flats.each_slice(2) do |two_flats| %>

      <div class="row">
        <%= render partial: "flat_box", locals: {flat: two_flats[0]} %>
        <%= render partial: "flat_box", locals: {flat: two_flats[1]} if two_flats[1] %>
      </div>

    <% end %>

  </div>


</div>
