<div class="row">

  <!-- Bloc Map -->
  <div class="listings_map col-md-4">
    <%= image_tag 'map.png' %>
  </div>

  <!-- Bloc Listings Flat -->
  <div class="listings_flats col-md-8">

    <h1>Tous les appartements à louer</h1>

    <% @flats.each_slice(2) do |two_flats| %>

      <div class="row">
        <%= render partial: "flat_box", locals: {flat: two_flats[0]} %>
        <%= render partial: "flat_box", locals: {flat: two_flats[1]} %>
      </div>

    <% end %>

  </div>


</div>
