/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

/* MISE EN PAGE GENERALE*/

body,html{
  padding-top: 50px;
}


h1{
  margin-top:30px;
  margin-bottom:30px;
}

h3 {
  color: #18BC9C;
}

.spacer{
  padding-top:10px;
  padding-bottom:10px;
}

footer{
  height:40px;
}

.general{
  width:100%;
  padding-top:50px;
  padding-bottom: 50px;
}

/* MISE EN PAGE INDEX */

#map-box{
 height: 100%;
}

.box{
  border:solid 2px #FAFAFA;
  border-radius:5px;
  margin-bottom:10px;
  margin-top:10px;
}

.box h3{
  font-size:1.5em;
}

.price{
  border:solid 2px #18BC9C;
}

.price span{
  font-size:3em;
  color:#18BC9C;
}

.below-box {
  background-color: #FAFAFA;
  padding:5px;
}

/* MISE EN PAGE FORMULAIRE */

.green {
  background-color:#18BC9C;
  color:white;
}

.btn {
  border:solid 3px #FFFFFF;
  border-radius:5px;
  background-color:#18BC9C;
}

.btn:hover {
  background-color:#FFFFFF;
  color:#18BC9C;
  border:solid 3px #FFFFFF;
}

.invert{
  border:solid 3px #18BC9C;
  border-radius:5px;
  background-color:#FFFFFF;
  color:#18BC9C;
}

.invert:hover {
  background-color:#18BC9C;
  color:#18BC9C;
  border:solid 3px #18BC9C;
  color:#FFFFFF;
}