// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "bootstrap";
//@import "bootstrap/theme";


.spacer{
  padding: 1em;
}


.flat{
  border: solid 1px lightgray;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
  background-color:#fcf9f2;
}

